{% style %}
  
{% endstyle %}
<div class="tab-content tab-faq-section-head">
  <ul class="tabs_pop">
    {% for block in section.blocks %}
      <li class="button button--secondary" data-head="{{ block.settings.heading }}">
        {{ block.settings.heading }}
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "FAQ tab heading",
  "limit":1,
  "settings": [

  ],
  "blocks":[
    {
      "name":"Tab",
      "type":"Tab",
      "settings":[
             {
    "type": "text",
    "id": "heading",
    "label": "Tab Heading"
  }
                    ]
    }
  ],
    "presets": [
    {
      "name": "FAQ tab heading"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
